# [dbo].[TQTKetqua]

In [0]:
USE [TqtQuanlysv]
GO

In [0]:
/****** Object:  Table [dbo].[TQTKetqua]    Script Date: 6/24/2024 2:47:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TQTKetqua](
	[MaSV] [int] NULL,
	[MaMH] [nvarchar](50) NULL,
	[Diem] [float] NULL
) ON [PRIMARY]
GO

# [dbo].[TqtKhoa]

In [0]:
/****** Object:  Table [dbo].[TqtKhoa]    Script Date: 6/24/2024 2:47:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TqtKhoa](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_TqtKhoa] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TqtMonhoc]

In [0]:
/****** Object:  Table [dbo].[TqtMonhoc]    Script Date: 6/24/2024 2:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TqtMonhoc](
	[MaMH] [nvarchar](50) NULL,
	[TenMH] [nvarchar](50) NULL,
	[Sotiet] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[TqtSinhvien]

In [0]:
/****** Object:  Table [dbo].[TqtSinhvien]    Script Date: 6/24/2024 2:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TqtSinhvien](
	[MaSV] [int] NOT NULL,
	[HoSV] [nvarchar](50) NULL,
	[TenSV] [nvarchar](50) NULL,
	[Phai] [bit] NULL,
	[Ngaysinh] [date] NULL,
	[Noisinh] [nvarchar](50) NULL,
	[MaKh] [nvarchar](50) NULL,
	[Hocbong] [money] NULL,
	[Diemtrungbinh] [float] NULL,
 CONSTRAINT [PK_TqtSinhvien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TQTKetqua]

In [0]:
INSERT [dbo].[TQTKetqua] ([MaSV], [MaMH], [Diem]) VALUES (129, N'Cntt2', 9)
GO

# [dbo].[TqtKhoa]

In [0]:
INSERT [dbo].[TqtKhoa] ([MaKH], [TenKH]) VALUES (N'1', N'Cntt')
GO

# [dbo].[TqtMonhoc]

In [0]:
INSERT [dbo].[TqtMonhoc] ([MaMH], [TenMH], [Sotiet]) VALUES (N'Cntt2', N'Web', 10)
GO

# [dbo].[TqtSinhvien]

In [0]:
INSERT [dbo].[TqtSinhvien] ([MaSV], [HoSV], [TenSV], [Phai], [Ngaysinh], [Noisinh], [MaKh], [Hocbong], [Diemtrungbinh]) VALUES (129, N'Tran Quang ', N'Tien', 1, CAST(N'2004-09-20' AS Date), N'Hà Nội', NULL, NULL, NULL)
GO